DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver

# Gmail example. Use a Gmail App Password, not your normal Gmail password.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=varebhuvaneswari@gmail.com
EMAIL_HOST_PASSWORD=ujojfxbylnzkqqba
DJANGO_DEFAULT_FROM_EMAIL=TodoFlow <varebhuvaneswari@gmail.com>
